doc/_build/*
build/*
Results/*
rlpy/representations/*.cpp
rlpy/representations/*.c
rlpy/domains/*.c
*.cpp
*.so
*.swp
*-results.json
.project
.pydevproject
*.pyc
Config.py
.ropeproject
.nfs*
dist
*.egg-info
*.bak
Untitled.ipynb
.eggs
/**/.ipynb_checkpoints
/**/Results
/**/Result
MANIFEST