doc/_build/*
build/*
Results/*
rlpy/Representations/*.cpp
rlpy/Representations/*.c
rlpy/domains/*.c
*.cpp
*.so
*.swp
.project
.pydevproject
*.pyc
Config.py
.ropeproject
.nfs*
dist
*.egg-info
*.bak
.eggs
/**/Results
/**/Result
MANIFEST