include doc/*
include doc/api/*
include doc/_static/*
include doc/_templates/*
include README.rst
include LICENSE.txt
include CHANGELOG.rst
include INSTALL.rst
recursive-include rlpy/Domains/GridWorldMaps *.txt
recursive-include rlpy/Domains/IntruderMonitoringMaps *.txt
recursive-include rlpy/Domains/PacmanPackage/layouts *.lay
recursive-include rlpy/Domains/PinballConfigs *.cfg
recursive-include rlpy/Domains/SystemAdministratorMaps *.txt
