include doc/*
include doc/api/*
include doc/_static/*
include doc/_templates/*
include README.rst
include LICENSE.txt
include CHANGELOG.rst
include INSTALL.rst
recursive-include rlpy/domains/AnyRewardGridWorldMaps *.txt
recursive-include rlpy/domains/GridWorldMaps *.txt
recursive-include rlpy/domains/IntruderMonitoringMaps *.txt
recursive-include rlpy/domains/PacmanPackage/layouts *.lay
recursive-include rlpy/domains/PinballConfigs *.cfg
recursive-include rlpy/domains/SystemAdministratorMaps *.txt
