[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages.rlpy]
editable = true
extras = ["bebf", "systemadmin", "gym"]
path = "."

[packages.importlib_metadata]
markers = "python_version < '3.8.0"

[dev-packages]
cython = ">=0.29"
pytest = ">=5.1"
